#navBar{
    background-color: white;
}


/*PackChart*/
.node {
    cursor: pointer;
}

.btn{
    margin: 5px;
}
.node--group{
    /*pointer-events: none;*/
}
.node--area:hover {
    stroke: white;
    stroke-width: 3px;
}

.node--item {
    fill: white;
}

.label {
    font: 15px "Monaco", "Monaco", Monospaced, Monospace;
    text-anchor: middle;
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}

.label {
    pointer-events: none;
}
.node circle {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}



.node text {
    font: 10px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

/*selectMenu*/
#chordMenu{
    max-height: 50vh;
}

/*MOLEKULE*/
.link line {
    stroke: #696969;
}

.link line.separator {
    stroke: #fff;
    stroke-width: 2px;
}

.node circle {
    stroke: #000;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}
/*interactive Chord*/

#visual {
    font: 14px sans-serif;
}

.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #visual {
        -webkit-user-select: none;
        font-size: 1.2em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #visual {
        -webkit-user-select: none;
    }
}

/*Network Chart*/

.links {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 1px;
}

text {
    pointer-events: none;
    fill: #000;
    font: 10px sans-serif;
}

svg{
    /*border:1px solid #000;*/
}


/*basic network chart*/

 .links line {
     stroke: #999;
     stroke-opacity: 0.6;
 }

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 12px;
}