#navBar {
    background-color: white;
}


/*PackChart*/
.node {
    cursor: pointer;
}

.btn {
    margin: 5px;
}

.node--group {
    pointer-events: none;
}

.node--group:hover {
    stroke-width: 20px;
}

.node--area:hover {
    stroke-width: 20px;
}

.node--item {
    fill: white;
}

.label {
    text-anchor: middle;
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}

.label {
    pointer-events: none;
}

.node circle {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}


.node text {
    font: 10px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}
/*packchart tooltip*/
.d3-tip {
    padding: 15px;
    /*background: rgba(0, 0, 0, 0.8);*/
    color: #fff;
    font-family: monospace;
    font-size: 15px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
/*selectMenu*/
#chordMenu {
    max-height: 50vh;
}

/*interactive Chord*/

#visual {
    font: 14px sans-serif;
}

.chord path {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #visual {
        -webkit-user-select: none;
        font-size: 1.2em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #visual {
        -webkit-user-select: none;
    }
}

/*Network Chart*/

.links {
    /*stroke: #999;*/
    /*stroke-opacity: 0.6;*/
    /*stroke-width: 1px;*/
}

text {
    pointer-events: none;
    fill: #000;
    font: 14px sans-serif;
}

svg {
    /*border:1px solid #000;*/
}

#legendBtn{
    background-color: whitesmoke;
    stroke:none

}
#legendSVG{
width: 800px;
height: 800px

}
#legendChordSVG{
width: 800px;
height: 100px

}
#legend{
    width: inherit;
    height:150px;
    overflow: scroll;
}
/*Zoom Controls*/

g.zoom-controls {
    cursor: pointer;
    pointer-events: all;
}
g.zoom-controls rect {
    fill: white;
    stroke: #596877;
    stroke-width: 1;
}
g.zoom-controls line {
    stroke: #596877;
    stroke-width: 2;
}

